<!-- Template: Detalles de Bodega -->
<div class="modal-header">
    <h5 class="modal-title">
        <i class="bi bi-warehouse"></i> Detalles de Bodega
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <h6>Información General</h6>
            <table class="table table-sm">
                <tr>
                    <td><strong>Código:</strong></td>
                    <td id="detail-codigo">-</td>
                </tr>
                <tr>
                    <td><strong>Nombre:</strong></td>
                    <td id="detail-nombre">-</td>
                </tr>
                <tr>
                    <td><strong>Ubicación:</strong></td>
                    <td id="detail-ubicacion">-</td>
                </tr>
                <tr>
                    <td><strong>Estado:</strong></td>
                    <td id="detail-estado">-</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h6>Especificaciones</h6>
            <table class="table table-sm">
                <tr>
                    <td><strong>Dotación:</strong></td>
                    <td id="detail-dotacion">-</td>
                </tr>
                <tr>
                    <td><strong>Creada:</strong></td>
                    <td id="detail-created">-</td>
                </tr>
                <tr>
                    <td><strong>Actualizada:</strong></td>
                    <td id="detail-updated">-</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" id="edit-detail-btn">
        <i class="bi bi-pencil"></i> Editar
    </button>
</div>
